*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    width: 100%;
    height: 100vh;
}
.row{
   height: 90px; 
}
.color1{
    background-color: #294144;
    border: 1px solid #fff;
}
.color2{
    background-color: aqua;
    border: 1px solid transparent;
}
.col{
    height: 400px;
}
.colorrow2{
    background-color: rgb(175, 76, 76);
    border: 2px solid #fff;
}
.row2{
    height: 200px;
}
.colores{
    background-color: aqua;
    border: 3px solid rgb(255, 255, 255);
}